<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Mvc5 Test Suite">
            <directory>./vendor/mvc5/tests/src</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./vendor/mvc5/mvc5/src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="build/logs/report" showUncoveredFiles="true" highlight="true"/>
    </logging>
</phpunit>
